.feature {
    display: flex;
    align-items: center;
    width: rem(166px);
    font-size: rem(16px);
    line-height: 1.1;
}

.feature__icon {
    margin-right: rem(15px);
    flex-shrink: 0;
    height:40px;
    width:40px;
}