.main-menu__list {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 0 rem(30px);

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
    @include phones {
        flex-direction: column;
        
        align-items: center;
    }

    
    
}

.header__main-menu {
    @include tablets {
        display: none;
    }
}

.main-menu {
    
    z-index:100;
    @include tablets {
        color:#fff;
        font-size: rem(36px);
        line-height: 2;
    }
    @include phones {
        color:#fff;
        font-size: rem(36px);
        line-height: 2;
    }
}

.popup-menu__close {
    position:absolute;
    top: rem(32px);
    display: none;
    
    @include tablets {
        display: block;
        right: calc(2.5% + 1.5px);
    }
    @include phones {
        display: block;
        right: calc(2.5% + 11.5px);
    }
}

.main-menu__item {

    flex-shrink:0;
    
    margin-right: rem(27px);

    &:last-child {margin-right: 0;}
    
    @include tablets {
        margin-right: 0;
    }

    @include phones {
        margin-right: 0;
    }
    
    &:hover {
        color: $red;
        transition: color 0.33s ease-out;
    }
}

@media screen and (orientation:landscape) {
    .main-menu__list {
        flex-direction: row;
    }

    .main-menu__item {
        
        margin-right: rem(27px);
    
        &:last-child {margin-right: 0;}
    }
}

.popup-menu {
    position:absolute;
    display:none;
    width:100%;
    height:100vh;
    overflow:hidden;
    left:0;
    top:0;
    justify-content: center;
    align-items: center;
    background: #313131;
    z-index:999;
}
.popup-menu.active {
    display: flex;
}