.fancybox-bg {
    background: #313131;
}

.modal {
    padding:35px 55px;
    background: #fff;
    text-align:center;
    color:$black;
    display: none;
}

.modal__button {
    display: block;
    margin: 15px auto 0 auto;
}

.modal__error {
    color: $red;
}